<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container mt-5" style="width: 1200px;">
    <h5 class="card-header border-0 bg-dark text-light">Users List</h5>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <ul class="list-group list-group-horizontal-lg mx-auto">
        <li class="list-group-item"><strong>ID:</strong>dsadspadpğsakpdkawpomaofmwaopfmwoap</li>
        <li class="list-group-item"><strong>Name:</strong>sadsadsa</li>
        <li class="list-group-item"><strong>Surname:</strong>wdwadwad</li>
        <li class="list-group-item"><strong>Age:</strong>2312</li>
        <li class="list-group-item"><strong>Gender:</strong>Male</li>
      </ul>
    </div>
  </div>
</body>

</html>
